.contato {
    background-color: var(--branco-principal);
    padding: 1em;
}

.contato__titulo {
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 500;
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contato__texto {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 300;
}